<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>게시판</title>
	<link rel="stylesheet" th:href="@{/css/board.css}" />
</head>
<body>
	<div class="container">
		<h2>게시판 상세</h2>
		<form action="" method="POST" id="frm" name="frm">
			<!-- 수정 또는 삭제할 게시판 번호를 히든 필드로 정의 -->
			<input type="hidden" name="boardIdx" th:value="${board.boardIdx}" />
		
			<table class="board_detail">
				<colgroup>
					<col width="15%" />
					<col width="35%" />
					<col width="15%" />
					<col width="35%" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">글번호</th>
						<td th:text="${board.boardIdx}"></td>
						<th scope="row">조회수</th>
						<td th:text="${board.hitCnt}"></td>
					</tr>
					<tr>
						<th scope="row">작성자</th>
						<td th:text="${board.createdId}"></td>
						<th scope="row">작성일</th>
						<td th:text="${board.createdDt}"></td>
					</tr>
					<tr>
						<th scope="row">제목</th>
						<td colspan="3">
							<input type="text" id="title" name="title" th:value="${board.title}" />
						</td>
					</tr>
					<tr>
						<td colspan="4" class="view_text">
							<textarea title="내용" id="contents" name="contents" th:text="${board.contents}"></textarea>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		
		<input type="button" id="list"   class="btn" value="목록으로" />
		<input type="button" id="edit"   class="btn" value="수정하기" />
		<input type="button" id="delete" class="btn" value="삭제하기" />
		
		<!-- jQuery 라이브러리를 불러옴 -->
		<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
		
		<!-- 각 버튼을 클릭했을 때 동작을 정의 -->
		<script>
			// 문서 전체가 로딩되었을 때 실행되는 코드
			$(function() {
				// id 속성의 값이 list인 엘리먼트가 클릭되었을 때 동작을 정의
				$('#list').on('click', function() {
					location.href = 'openBoardList.do';
				});
				
				$('#edit').on('click', function() {
					let frm = $('#frm')[0];
					frm.action = 'updateBoard.do';
					frm.submit();
				});
				
				$('#delete').on('click', function() {
					let frm = $('#frm')[0];
					frm.action = 'deleteBoard.do';
					frm.submit();
				});
			});
		</script>		
	</div>
</body>
</html>